<link rel="stylesheet" href="/styles/courses.css">

<div class="menuContainer">
    <div id="departments" class="menuCard">
        Departments
    </div>
    {{#if error}}
        <br>
        <div id="error">{{error}}</div>
    {{/if}}
    {{!-- <div id="locations" class="menuCard">
        Locations
    </div> --}}
</div>