<link rel="stylesheet" href="/styles/courses.css">

<div class="menuContainer">
    <div id="departments" class="menuCard">
        Departments
    </div>
    {{!-- <div id="locations" class="menuCard">
        Locations
    </div> --}}
</div>