<form id="newuserform">
    <label for="firstname">First Name:</label><br>
    <input type="text" id="firstname" name="firstname" required></input><br>
    <label for="lastname">Last Name:</label><br>
    <input type="text" id="lastname" name="lastname" required></input><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required></input><br>
    <label for="ssn">Social Security Number:</label><br>
    <input type="text" id="identification" name="ssn" maxlength="11" placeholder="000-00-0000" required></input><br>
    <label for="type">User type:</label><br>
    <select name="type" id="type">
        <option value="Admin">Administrator</option>
        <option value="Professor">Professor</option>
        <option value="Student">Student</option>
    </select><br>
    <br>
    <input type="hidden" id="csrf" value="{{_csrf}}">
    <input type="submit" id="submit" value="Create User"></input>
</form>
<div id="error"></div>
<div id="status"></div>
<script src="/Scripts/verification.js"></script>
<script src="/Scripts/request.js"></script>
<script src="/Scripts/createuser.js"></script>