<div class="container-fluid">
    <div class="d-flex fs-2">
        <div class="my-auto"><img class="iconSwitch" src="/icons/tool.svg" alt="Enroll Icon"> Admin Dashboard</div>
    </div>
    <div class="row my-4">
        <div class="mx-auto">
            <a class="my-auto btn btn-info p-4" href="/users/create">Create User</a>
            <a class="my-auto btn btn-info p-4" href="/configuration">Configuration</a>
        </div>
    </div>
</div>