<h2>
    <div class="d-flex my-2"><img class="iconSwitch" src="/icons/tool.svg" alt="Enroll Icon"> Admin Dashboard</div>
</h2>
<div class="row my-4">
    <div class="col-md-2">
        <a class="my-auto btn btn-info p-4" href="/users/create">Create User</a>
    </div>
</div>