
<!-- FILEPATH: /c:/Users/limay/My Drive/CS - 546/University-Management-System/views/courses/index.handlebars -->

<form>
    <label for="year">Select Year:</label>
    <select id="year" name="selectedYear">
        {{#each uniqueYear}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label for="semester">Select Semester:</label>
    <select id="semester" name="selectedSemester">
        {{#each uniqueSemester}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <button id="selectSemester" type="submit">Continue</button>
    <script src="/scripts/course-listing.js"></script>
</form>
