<link rel="stylesheet" href="/styles/courses.css">
<div class="menuContainer">
    <div id="courseRegistration" class="menuCard">
        Course Registration
    </div>
    <div id="courseListing" class="menuCard">
        Course Listing
    </div>
</div>
<script src="/scripts/course-landing.js"></script>