<link rel="stylesheet" href="/styles/courses.css">

<div class="menuContainer">
    {{#if (eq type 'Admin')}}
    <div id="courseRegistration" class="menuCard">
        Course Registration
    </div>
    {{/if}}
    <div id="courseListing" class="menuCard">
        Course Enrollment
    </div>

    <div class="modal fade" id="yearAndSemesterSelect" tabindex="-1" role="dialog"
        aria-labelledby="yearAndSemesterSelect" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yearAndSemesterSelectLabel">Select Year and Semester</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="year">Select Year:</label>
                        <select id="year" name="selectedYear">
                            {{#each uniqueYear}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>

                        <label for="semester">Select Semester:</label>
                        <select id="semester" name="selectedSemester">
                            {{#each uniqueSemester}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="selectSemester" type="submit">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="yearAndSemesterSelectRegistration" tabindex="-1" role="dialog"
        aria-labelledby="yearAndSemesterSelectLabelRegistration" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yearAndSemesterSelectLabelRegistration">Select Year and Semester
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="semYearForm">
                        <label for="yearRegistration">Select Year:</label>
                        <input type="number" id="yearRegistration" name="selectedYear" min="2022" max="2100">


                        <label for="semesterRegistration">Select Semester:</label>
                        <select id="semesterRegistration" name="selectedSemester">
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                            <option value="Fall">Fall</option>
                            <option value="Winter">Winter</option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="selectSemesterRegistration" type="submit">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/course-landing.js"></script>
