<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>University Management Systems</title>
    {{#if style}}
    <link rel="stylesheet" href="/styles/{{style}}.css">
    {{/if}}
</head>

<body>

    {{{body}}}

</body>

</html>
