<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>University Management Systems</title>
    {{#if style.length}}
    {{#each style}}
    <link rel="stylesheet" href="/styles/{{this}}.css">
    {{/each}}
    {{/if}}
</head>

<body>

    {{{body}}}

</body>

</html>
