<h1>Assignments</h1>

<div class="assignments">
        {{#each modules}}
        <div class="assignment">


            <div class="details">
           
                {{!-- <p>ID: {{this.moduleId}}</p>
                <p>Name: {{this.moduleName}}</p>
                <p>Desc: {{this.moduleDescription}}</p>
                <p>Due Date: {{this.moduleDate}}</p> --}}
 
                   <p>ID: </p>
                <p>Name: </p>
                <p>Desc: </p>
                <p>Due Date: </p>
            </div>



         
            
            
        </div>


        {{/each}}
    </div>
