<h1>Attendance</h1>

{{#if (eq type 'Student')}}
<div class="card col-12 glassEffect">
    <div class="card-header glassEffect">
        <img src="./icons/dashboardCourse.svg" alt="loginIcon"> Student Attendance
    </div>
    <div class="card-body">

    </div>
</div>
{{/if}}

{{#if (eq type 'Professor')}}
Prof attendance
{{/if}}