<form id="registration">
    {{#switch identification}}
        {{#case "ssn"}}
            <label for="id-confirmation">Please enter the last four digits of your social security number</label>
            <input type="number" id="id-confirmation" name="idconf" placeholder="0000" maxlength="4">
        {{/case}}
    {{/switch}}
    <input type="hidden" name="idtype" value="{{identification}}">
    <input type="hidden" id="csrf" value="{{_csrf}}">
    <br><input type="submit" id="submit" value="Login"></input>
</form>