<form id="registration">
    {{{identificationverification}}}
    <input type="hidden" name="idtype" value="{{identification}}">
    <input type="hidden" id="csrf" value="{{_csrf}}">
    <br><input type="submit" id="submit" value="Login"></input>
</form>