<form id="registration" method="POST">
    {{> (lookup. 'identificationverification') }}
    <input type="hidden" name="idtype" value="{{identification}}">
    <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
    <br><input type="submit" id="submit" value="Register"></input>
</form>
{{#if error}}
<div id="error">{{error}}</div>
{{/if}}
