<div class="container-fluid">

    <div class="d-flex my-3">
        <div class="my-auto">Reset Password</div>
    </div>
    <div class="col-md-4 mt-3">
        <form id="resetpassword">
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder=""
                    required></input><br>
                <label for="password">Password:</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="passwordconf" name="passwordconf" placeholder=""
                    required></input>
                <label for="passwordconf">Confirm password:</label>
            </div>

            <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
            <button class="btn btn-info" type="submit" id="submit" value="Set Password">Set Password</button>
        </form>
    </div>


    <div id="error">{{error}}</div>
</div>