Welcome to {{firstname}} {{lastname}}
<br>
<form id="setpassword">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required></input><br>
    <label for="passwordconf">Confirm password:</label><br>
    <input type="password" id="passwordconf" name="passwordconf" required></input><br>
    <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
    <br><input type="submit" id="submit" value="Set Password"></input>
</form>

<div id="error">{{error}}</div>
<script src="/Scripts/verification.js"></script>
<script src="/Scripts/request.js"></script>
<script src="/Scripts/setpassword.js"></script>
