<div class="container-fluid">
    <h2 class="d-flex my-3 my-auto">
        Welcome {{firstname}} {{lastname}}
    </h2>
    <div class="col-md-4 mt-3">
        <form id="setpassword">
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder=""
                    required><br>
                <label for="password">Password:</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="passwordconf" name="passwordconf" placeholder=""
                    required>
                <label for="passwordconf">Confirm password:</label>
            </div>

            <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
            <button class="btn btn-info" type="submit" id="submit" value="Set Password">Set Password</button>
        </form>
    </div>


    <div id="error">{{error}}</div>
</div>