h1 {
  margin-bottom: 2rem;
}
a {
  color: #8167a9;
  cursor: pointer;
}
.course-listing {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: top;
  justify-content: start;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #dfdfdf;
}

.course-listing h2 {
  border: none;
}
.courses {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.course-listing .courses .course {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1rem;
}

.course-listing .courses .course h2 {
  margin-top: 1rem;
}
.course-listing .courses .course h2 {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}
/* Style for the filter container */
.filter {
  width: 300px; /* Adjust the width as needed */
  margin: 20px;
}

/* Style for labels */
.filter label {
  display: block;
  margin-bottom: 5px;
}

/* Style for text input */
.filter input[type="text"],
.filter select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Style for the Apply button */
.filter button {
  background-color: #8167a9;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.filter button:hover {
  background-color: #8167a9;
}

/* Course Landing/Dashboard */

.menuContainer{
  display: flex;
  gap: 1rem;
}

.menuCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 5rem;
  border-radius: 15px;
  color: #8167a9;
  cursor: pointer;
}

.menuCard:hover {
  background-color: #8167a9;
  color: white;
}

/* Course Registration Form */
.courseRegistrationContainer{
  display:flex;
  justify-content: center;
}

.courseRegistrationForm{
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h2 {
  color: #333;
}

form {
  max-width: 400px;
  margin: 20px 0;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  max-height: 200px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

