#error {
    animation-duration: 4s;
    animation-timing-function: linear;
    opacity: 0%;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}