.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 90px;
}

#sidebar {
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background: #fff0;
  color: var(--activeTextColor);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #fff0;
}

#sidebar ul.components {
  padding: 20px 15px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 7px 20px;
  font-size: 1.1em;
  display: block;
  transition: all 0.1s linear;
  z-index: 10;
}

#sidebar ul li.active > a {
  color: var(--activeBgColor);
  background: var(--activeTextColor);
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #fff0;
}

a.article,
a.article:hover {
  background: #fff0 !important;
  color: #fff !important;
}

.components li a {
  /* border-top-right-radius: 90px;
  border-bottom-right-radius: 90px; */
  border-radius: 90px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
  margin-left: 250px;
}
#content.active {
  margin-left: 0px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.hamIcon {
  min-width: 54.67px;
}

.hamIcon::after {
  background-color: #fff0;
}

.hamburger .line {
  width: 40px;
  height: 3px;
  background-color: var(--activeTextColor);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-4.is-active .line:nth-child(1),
#hamburger-4.is-active .line:nth-child(3) {
  width: 21px;
}

#hamburger-4.is-active .line:nth-child(1) {
  -webkit-transform: translateX(13px) translateY(4.5px) rotate(45deg);
  -ms-transform: translateX(13px) translateY(4.5px) rotate(45deg);
  -o-transform: translateX(13px) translateY(4.5px) rotate(45deg);
  transform: translateX(13px) translateY(4.5px) rotate(45deg);
}

#hamburger-4.is-active .line:nth-child(3) {
  -webkit-transform: translateX(13px) translateY(-4.5px) rotate(-45deg);
  -ms-transform: translateX(13px) translateY(-4.5px) rotate(-45deg);
  -o-transform: translateX(13px) translateY(-4.5px) rotate(-45deg);
  transform: translateX(13px) translateY(-4.5px) rotate(-45deg);
}

#hamburger-9 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border: 3px solid #fff0;
  top: -11px;
  left: -11px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before {
  border: 3px solid var(--activeTextColor);
}

#hamburger-9.is-active .line {
  width: 35px;
}

#hamburger-9.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* Hover Ripple */

.hover {
  z-index: 2;
  --width: 100%;
  --time: 0.5s;
  position: relative;

  color: var(--activeTextColor);
  background: var(--activeBgColor);
  overflow: hidden;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  cursor: pointer;
}

.hover text {
  position: relative;
  z-index: 2;

  transition: all var(--time);
}

.hover:hover {
  color: var(--activeBgColor);
}

.hover span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;

  border-radius: 100%;
  background: var(--activeTextColor);

  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.hover:hover span {
  width: calc(var(--width) * 2.35);
  padding-top: calc(var(--width) * 2.35);
}
