@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/* #Primary
================================================== */
:root {
  --blackColor: #14151a;
  --whiteColor: #fff;
  --activeTextColor: var(--blackColor);
  --activeBgColor: var(--whiteColor);
  --purpleAccent: #8167a9;
  --greenAccent: #00bf98;
  --fadeGrey: #a1a1a147;
  --transparentColor: #00000000;
  --glassColor1: #ffffff40;
  --glassColor2: #29292936;
  --activeGlassColor: var(--glassColor1);
  --toastRed1: #e84848;
  --shadowColor1: #5959594f;
  --shadowColor2: #2c2c2c4f;
  --activeShadowColor: var(--shadowColor1);
  --stripeTableColor1: #0000000f;
  --stripeTableColor2: #ffffff1a;
  --activeStripeTableColor: var(--stripeTableColor1);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--activeTextColor);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 10%;
  background-color: var(--activeBgColor);
  transition: all 0.2s linear;
}

.start-header {
  opacity: 1;
  padding: 10px 0px;
  box-shadow: 0px 10px 30px 0px var(--activeShadowColor);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 20px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#navigationList {
  height: 70px;
}

.footer-wrap {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.error {
  visibility: hidden;
  transition: all 0.2s linear;
  color: #e35555;
}

.nav {
  gap: 10px;
}

.nav-link {
  color: var(--activeTextColor) !important;
  font-weight: 500;
  transition: all 0.2s linear;
}
.nav-item:hover .nav-link {
  color: #8167a9 !important;
}
.nav-item.active .nav-link {
  color: #00bf98 !important;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #8167a9;
  opacity: 0;
  transition: all 0.2s linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item.active:after {
  opacity: 1;
  background-color: #00bf98;
}
.nav-item {
  position: relative;
  transition: all 0.2s linear;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.bg-light {
  background-color: var(--activeBgColor) !important;
  transition: all 0.2s linear;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  height: 100vh;
}
.over-hide {
  overflow: hidden;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

h2 {
  border-bottom: 1px solid #8167a9;
}
p {
  margin: 0;
  opacity: 1;
  transition: all 0ms linear;
}

h1 span {
  display: inline-block;
  transition: all 0.2s linear;
  opacity: 1;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#switch {
  width: 40px;
  height: 4px;
  background: #8167a9 !important;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: 1.5rem;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 0.2s linear;
}

#circle {
  position: absolute;
  top: -7px;
  left: -13px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--activeTextColor);
}

.switched #circle {
  left: 30px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
}
.nav-item .dropdown-menu {
  opacity: 0;
  min-width: 20rem !important;
  visibility: hidden;
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  color: var(--activeTextcolor);
  background-color: var(--activeBgColor);
  transform: translate3d(0px, 62px, 0px);
  transition: background-color 0.2s linear, opacity 0.2s linear;
}

.nav-item .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px, 62px, 0px);
}

.dropdown-toggle::after {
  display: none;
}

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(0%);
  transition: all 250ms linear;
}

.brand-logo {
  position: relative;
  transition: all 0.2s linear;
}

body .myContainer {
  margin: 10rem 2rem;
}

.card {
  color: var(--activeTextColor);
  border-color: var(--activeTextColor);
}
.card-header {
  font-size: 20px;
  padding: 15px;
}

input,
button {
  border: 1px solid var(--activeTextColor);
  background: var(--activeBgColor);
  color: var(--activeTextColor);
}

input {
  border: 0 !important;
  border-radius: 0px !important;
  border-bottom: 1.5px solid var(--activeTextColor) !important;
  box-shadow: none !important;
}

input:focus {
  border-bottom-color: var(--greenAccent) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Autofill styles */
input.autofill,
input.autofill:hover,
input.autofill:focus,
input.autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Specificity for autofill */
.form-control.autofill,
.form-control.autofill:hover,
.form-control.autofill:focus,
.form-control.autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Autofill styles with pseudo-element */
input.autofill::after,
input.autofill:hover::after,
input.autofill:focus::after,
input.autofill:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--activeBgColor) !important;
  pointer-events: none;
  z-index: -1;
}

.btnSubmit {
  transition: all 0.2s linear;
  background-color: var(--activeBgColor);
  color: var(--activeTextColor);
  border-radius: 5px;
}

.btnSubmit:hover {
  background-color: var(--greenAccent);
  color: white;
}

.btnNavbar {
  transition: all 0.2s linear;
  background-color: var(--activeBgColor);
  color: var(--activeTextColor);
  border-radius: 0px;
  border: 0;
}

.btnNavbar:hover {
  background-color: var(--fadeGrey);
}

.opacityMin {
  opacity: 0;
}

.opacityMax {
  opacity: 1;
}

.glassEffect {
  background-color: var(--activeGlassColor) !important;
  box-shadow: 0 2px 10px var(--activeShadowColor) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #ffffff73;
}

.form-control,
.form-control:focus {
  color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

.toast-container {
  top: 105px !important;
  right: 0px !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.row.searchData {
  border-bottom: 1px solid var(--activeTextColor);
  transition: all 0.2s linear;
}

.row.searchData:hover {
  background-color: #95959555;
}

.btn-success {
  background-color: #aff69d !important;
  color: black !important;
  opacity: 1 !important;
}

.btn-danger {
  background-color: #ff7676 !important;
  color: black !important;
  opacity: 1 !important;
}

.btn-warning {
  background-color: #f9de92 !important;
  color: black !important;
  opacity: 1 !important;
}

.btn-info {
  background-color: #6cc8ec !important;
  color: black !important;
  opacity: 1 !important;
}

.btn {
  transition: all 0.2s linear;
}
.btn:hover {
  filter: brightness(1.15);
}

.modal-backdrop.show {
  background-color: var(--activeBgColor) !important;
  opacity: 0.85 !important;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(3.5rem + 0px) !important;
}

.modal-open {
  overflow: scroll !important;
  padding-right: 0px !important;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(3.5rem + -15px) !important;
}
.form-floating > label {
  transform: scale(1) translateY(-0.5rem) translateX(0rem) !important;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-1.4rem) translateX(0.15rem) !important;
}
/* .form-control:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #8e44ad;
  transition: 0.2s ease all;
}

.form-control:focus:after {
  visibility: visible;
  width: 100%;
  left: 0;
} */

.form-floating > .form-control,
.form-floating > label {
  padding-left: 0.25rem !important;
}

.iconSwitch {
  color: #000000 !important;
}
.invertColor {
  filter: invert(1);
}

.bootstrap-select .dropdown-menu,
.bootstrap-select > .dropdown-toggle {
  background-color: var(--activeBgColor) !important;
  color: var(--activeTextColor) !important;
  border-color: var(--activeTextColor) !important;
}

.bootstrap-select .dropdown-menu li a {
  color: var(--activeTextColor) !important;
  transition: all 0.15s linear;
}

.bootstrap-select .dropdown-menu li a:hover {
  background-color: var(--greenAccent) !important;
  color: #ffffff !important;
}

.bootstrap-select .dropdown-menu li a.active {
  background-color: var(--activeTextColor) !important;
  color: var(--activeBgColor) !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0px !important;
  border-color: var(--greenAccent) !important;
}

.table {
  color: var(--activeTextColor) !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--activeStripeTableColor) !important;
  color: var(--activeTextColor) !important;
}
